.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    margin: 0 30px;
}

.flex-item {
    box-sizing: border-box;
    border: 1px dotted #000000;
    padding: 0 15px;
    flex: 1 0 30%;
    max-width: calc(33.333% - 20px);
    height: 620px;
}

.flex-container .flex-item:nth-child(4n+3) {
    flex: 1 0 40%
}